h1{
	text-align: center;
	height: 80px;
	margin: 0 auto;
	width: 300px;
	font-family: 'Arial',sans-serif;
	background-color: thistle;
	background-image: linear-gradient(320deg,thistle,pink);
	border-radius: 7px;
	box-shadow: 5px 5px 20px thistle;

}
a{
	display:inline-block;
	width: 300px ;
	height: 255px;
	margin: 25px;
	
}
.social-media{
	width:1450px;
	margin-left: auto;
	margin-right: auto;

}
.icon{
	background: url(bg.png);
	background-repeat: no-repeat;
	background-size: 600px 510px;
}
.instagram{
	background-position: 0 -255px ;
}
.spotify{
	background-position:-300px -255px;
}
.steam{
	background-position: -300px 0;
}
a:hover{
	background-color: lightgrey;
	box-shadow: 7px 7px 15px thistle ;
}	